<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pirate.name %>
</p>

<p>
  <strong>Ship:</strong>
  <%= @pirate.ship %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pirate.description %>
</p>

<%= link_to 'Edit', edit_pirate_path(@pirate) %> |
<%= link_to 'Back', pirates_path %>
